*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Barlow Semi Condensed", sans-serif;
    background-color: hsl(214, 17%, 92%);
    font-size: 13px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 100px auto;
}

.card--purple{
     grid-column: span 2;

}

.card--wheat{
    grid-row: span 2;
}

.card--dark{
    grid-column: span 2;
}

